/* Accessory Shop */
.accessory-shop {
  background-color: var(--color-section);
  text-align: center;
}
.accessory-shop .whitebox {
  padding-bottom: 0;
}
.accessory-shop .inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.accessory-shop img {
  margin-top: 50px;
}

@media (max-width: 1000px) {
  .accessory-shop img {
    width: 960px;
  }
}
