/* Display */
.display {
  margin-top: 450px;
}
/* Display / Notes */
.display .notes h1 {
  width: 630px;
  height: 370px;
  background-image: url("../images/display_headline.png");
  transform: translate(104px, 0);
}
.display .notes .figures {
  height: 814px;
  margin-top: 26px;
}
.display .notes figcaption {
  width: 145px;
  height: 45px;
  background-image: url("../images/display_notes_caption.png");
  transform: translate(707px, -16px);
}
/* Display / Shareplay */
.display .shareplay {
  margin-top: 55px;
}
.display .shareplay .figures {
  height: 630px;
}
.display .shareplay figure {
  transform: translate(-360px, 0);
}
.display .shareplay figcaption {
  width: 110px;
  height: 48px;
  background-image: url("../images/display_shareplay_caption.png");
  transform: translate(300px, 658px);
}

@media (max-width: 1000px) {
  .display {
    margin-top: 180px;
  }
  .display .notes h1 {
    width: 400px;
    height: 240px;
    transform: translate(120px, 0);
  }
  .display .notes .figures {
    height: 530px;
  }
  .display .notes figure {
    transform: translate(80px, -10px);
  }
  .display .notes figure img {
    width: 676px;
  }
  .display .notes figcaption {
    transform: scale(0.8) translate(540px, -34px);
  }
  .display .shareplay .figures {
    height: 330px;
  }
  .display .shareplay figure {
    transform: translate(-178px, 0);
  }
  .display .shareplay figure img {
    width: 682px;
  }
  .display .shareplay figcaption {
    transform: scale(0.8) translate(261px, 540px);
  }
}

@media (max-width: 740px) {
  .display .notes h1 {
    width: 290px;
    height: 308px;
    background-image: url("../images/display_headline_mobile.png");
    margin: 0 auto;
    transform: none;
  }
  .display .notes .figures {
    height: auto;
    margin-top: 60px;
  }
  .display .notes figure {
    transform: translate(20px, 0);
  }
  .display .notes figure img {
    width: 458px;
  }
  .display .notes figcaption {
    transform: scale(0.8) translate(220px, -45px);
  }
  .display .shareplay {
    margin-top: 30px;
  }
  .display .shareplay .figures {
    height: auto;
    order: 1;
  }
  .display .shareplay figure {
    transform: translate(20px, 0);
  }
  .display .shareplay figure img {
    width: 460px;
  }
  .display .shareplay figcaption {
    transform: scale(0.8) translate(261px, 358px);
  }
}
